body{
    padding:10px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color:aqua;
}
form{
padding:20px 20px 20px 20px;
margin: 100px;
border:aqua;
}
h1{
    font-size: larger;
    font-style: oblique;
    color:blue;
}
input type{
    text-align: justify;
    font-size: larger;
    color:blue;
}

